h1 {
    text-align:center;
}

table {
    padding:0;
    margin:auto;
    display:block;
}

td {
    padding:10px;
}

.label {
    text-align:center;
}

button {
    padding:0;
    margin:auto;
    display:block;
}

body {
    color:#000000;
    background-color:#ffffff;
}

canvas {
    border:2px solid;
    padding:0;
    margin:auto;
    display:block;
}

#traininglink {
    text-align:center;
}
